.paginator{
  width: 80%;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.arrow{
  border-radius: 8px;
  border: 1px solid transparent;
  background: rgba(0, 0, 0, 0.489);
  color: white;
  padding: .5rem 1.5rem;
  font-size: 1.7rem;
  font-weight: 500;
  opacity: .4;
  transition: all .3s;
    box-shadow:
    inset .2rem .2rem .2rem rgba(255, 255, 255, 0.213),
    inset -.2rem -.2rem .2rem rgba(88, 32, 4, 0.532),
    1rem 1rem 2rem rgba(0, 0, 0, 0.6);
}

.arrow:not([disabled]){
  cursor: pointer;
  opacity: .8;
}
.arrow:not([disabled]):hover{
  background-color: lightgreen;
  color: black;
  opacity: 1;
}
.navigation{
  font-size: 2rem;
  font-weight: 500;
}
