.search {
  width: 18rem;
  display: flex;
  border-radius: .6rem;
  background: rgba(0, 0, 0, 0.747);
  box-shadow:
    inset .1rem .1rem .1rem rgba(255, 255, 255, 0.1),
    inset -.1rem -.1rem .1rem rgba(88, 32, 4, 0.2),
    .8rem 1rem 1.4rem rgba(0, 0, 0, 0.3);
}
.search_icon {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: .5rem;
  color: #fdfcfc;
  font-size: 2rem;
}
.search_input {
  width: 85%;
  background: none;
  border: none;
  color: white;
  border-left: none;
  padding: .5rem;
  font-size: 2rem;
  outline: none;
}
