.table {
  width: 95%;
  margin: 2rem auto;
  border-spacing: .1rem .6rem;
}
.table th,
.table td{
  padding: 1rem;
}

.thead{
  background-color: rgb(17, 78, 15);
  font-size: 2.3rem;
  box-shadow:
    inset .3rem .3rem .3rem rgba(255, 255, 255, 0.213),
    inset -.3rem -.3rem .3rem rgba(88, 32, 4, 0.532),
    1.2rem 1.2rem 2.4rem rgba(0, 0, 0, 0.6);
}

.thead > th:last-child {
  border-top-right-radius: .4rem;
  border-bottom-right-radius: .4rem;
}

.thead > th:first-child {
  text-align: center;
  border-top-left-radius: .4rem;
  border-bottom-left-radius: .4rem;
}

.table_row{
  background-color: rgb(24, 136, 20);
  font-size: 2rem;
  font-weight: 400;
  box-shadow:
    inset .3rem .3rem .3rem rgba(255, 255, 255, 0.213),
    inset -.3rem -.3rem .3rem rgba(88, 32, 4, 0.532),
    1.2rem 1.2rem 2.4rem rgba(0, 0, 0, 0.6);
  transition: all .3s;
}


.table_row > td:first-child {
  text-align: center;
  border-top-left-radius: .4rem;
  border-bottom-left-radius: .4rem;
}


.table_row > td:last-child {

  border-top-right-radius: .4rem;
  border-bottom-right-radius: .4rem;

}
.table_row:nth-child(even) {
  background-color:  rgb(28, 161, 24);
}

.thead_sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sort_btns {
  display: flex;
  flex-direction: column;
  gap: .3rem;

}

.sort_btn {
  font-family: var(--font-roboto);
  font-size: 1.2rem;
  border-radius: .3rem;
  padding: .3rem 1rem;
  background: rgba(0, 0, 0, 0.747);
  box-shadow:
    inset .1rem .1rem .1rem rgba(255, 255, 255, 0.213),
    inset -.1rem -.1rem .1rem rgba(88, 32, 4, 0.532),
    .8rem 1.8rem 1.4rem rgba(0, 0, 0, 0.6);
  color: white;
  cursor: pointer;
  opacity: .7;
  transition: all .3s;
}

.sort_btn:hover {
  background-color: lightgreen;
  color: black;
  opacity: 1;
}