.error_page{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.error_page h1{
  text-align: center;
}
.error_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}