.header_wrap{
  padding: 2rem 0;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  font-family: var(--font-Kalam);
  font-style: italic;
  font-size: 4.5rem;
  font-weight: 600;
  text-shadow: 1.2rem 1.2rem 1rem rgba(116, 115, 115, .2); 
  display: flex;
  margin-right: 5rem;
}
.logo_yllow{
  display: inline-block;
  color: yellow;
}
.logo_blue{
  display: inline-block;
  color: rgb(32, 103, 255);
}