.go_back_btn{
  border-radius: 8px;
  border: 1px solid transparent;
  background: rgba(12, 88, 2, 0.9);
  color: white;
  padding: .5rem 1.5rem;
  font-size: 1.7rem;
  font-weight: 500;
  opacity: .7;
  transition: all .3s;
    box-shadow:
    inset .2rem .2rem .2rem rgba(255, 255, 255, 0.213),
    inset -.2rem -.2rem .2rem rgba(88, 32, 4, 0.532),
    1rem 1rem 2rem rgba(0, 0, 0, 0.6);
  cursor: pointer;
  margin-left: 4%;
  margin-bottom: 3rem;
}

.go_back_btn:hover{
  background-color: rgb(124, 241, 124);
  transform: translateX(-.7rem);
  color: black;
  opacity: 1;
}