.footer{
  background: rgba(0, 0, 0, 0.2);
}
.footer_wrap{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin: 0 auto;
  padding: 1rem 0;
}
.footer_mail{
  font-size: 1.8rem;
  line-height: 1.3;
  color: rgb(253, 253, 253);
  opacity: .8;
  transition: all .3s;
}
.footer_mail:hover,
.footer_mail:focus{
  color: rgb(52, 137, 248);
  opacity: 1;
}
.footer_date{
  font-size: 1.6rem;
  line-height: 1.3;
}